.date-picker-table{
    width: 210px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
}
.date-picker-table thead .prev,
.date-picker-table thead .next{
    width: 30px;
    height: 30px;
}
.date-picker-table tbody td{
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.date-picker-table tbody.date-cells td:hover{
    background-color: antiquewhite;
}
.date-picker-table tbody td.disabled{
    color: #a9a9a9;
    cursor: not-allowed;
}
.date-picker-table tbody td.disabled:hover{
    background-color: transparent;
}
.date-picker-table tbody.year-cells,
.date-picker-table tbody.month-cells{
    display: none;
}
.date-picker-table tbody td:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.date-picker-table tbody.year-cells td>span.year{
    width: 33.3333%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
}
.date-picker-table tbody.year-cells td>span.year:hover,
.date-picker-table tbody.month-cells td>span.month:hover{
    background-color: antiquewhite;
}
.date-picker-table tbody.month-cells td>span.month {
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
}